<%- include('./partials/header.ejs') %>

<title>Create Product</title>
</head>

<body class="bg-light">

<header class="bg-secondary p-5 mb-5">
    <h1 class="text-light">
        Novo produto
    </h1>
</header>
    
<main class="container">
    <div class="row mb-5 justify-content-center">
        <div class="col-6">
            <form method="POST" action="/admin/produto/cadastrar" enctype="multipart/form-data" class="card shadow-sm bg-white p-3" >
                <h2 class="text-dark d-flex justify-content-center mb-3">Formulário</h2>
                <input type="text" name="name" placeholder="Nome" class="form-control mb-2">
                <input type="text" name="price" placeholder="Preço" class="form-control mb-2">
                <input type="text" name="description" placeholder="Descrição" class="form-control mb-2">
                <input type="file" name="avatar" id="" class="form-control mb-2">
                <input class="btn btn-primary" type="submit" value="Salvar">
            </form>
        </div>

        <div class="card shadow-sm col-3">
            <img class="card-img-top" alt="Awesome Product" src=<%= img %>>
            <div class="card-body">
              <h5 class="card-title"><%= name %></h5>
              <h6 class="card-subtitle"><%= price %> </h6>
              <p class="card-text"><%= description %></p>
            </div>
          </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>
